<div class="fab-holder" x-data="{ showing_improvements: true }">
  <div class="main-btn fab-icon-holder">
    <div class="icon">
      <i class="fas fa-info"></i>
    </div>
  </div>
  <ul class="fab-options">
    <li
      hx-get="/originals"
      hx-target="#content"
      x-bind:class="showing_improvements ? '' : 'hidden'"
      x-on:click="showing_improvements = ! showing_improvements"
    >
      <span class="fab-label">Show Originals</span>
      <div class="option-btn fab-icon-holder">
        <div class="icon">
          <i class="fas fa-frown"></i>
        </div>
      </div>
    </li>
    <li
      hx-get="/improvements"
      hx-target="#content"
      x-bind:class="showing_improvements ? 'hidden' : ''"
      x-on:click="showing_improvements = ! showing_improvements"
    >
      <span class="fab-label">Show Improved</span>
      <div class="option-btn fab-icon-holder">
        <div class="icon">
          <i class="fas fa-smile"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="fab-label">Lefty Bee</span>
      <div class="option-btn fab-icon-holder">
        <div class="icon">
          <i class="fas fa-arrow-left"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="fab-label">About</span>
      <div class="option-btn fab-icon-holder">
        <div class="icon">
          <i class="fas fa-question"></i>
        </div>
      </div>
    </li>
    <li>
      <span class="fab-label">Feedback</span>
      <div class="option-btn fab-icon-holder">
        <div class="icon">
          <i class="fas fa-comment-alt"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
